@font-face {
  font-family: "Glober";
  src: url("../fonts/GloberSemiBoldFree.woff2") format("woff2"),
       url("../fonts/GloberSemiBoldFree.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
